body{
    background-color:yellow;
}
h1{
    color:maroon;
    background-color: whitesmoke;
    font-weight:bold;
    letter-spacing: 5px;
}
#show_sketch{
    float:right;
}
canvas{
    border:2px grey ridge;
    margin-top: 150px;
    border-radius: 20px;
    animation-name:QuickDraw;
    animation-duration:3s;
    animation-iteration-count: infinite;
}
@keyframes QuickDraw{
    from{box-shadow: 2px 2px 38px blue;}
    to{box-shadow: 2px 2px 38px red;}
}
p{
    font-size:25px;
    padding-top:10px;
    color:green;
}